# Data and model outputs
/data/
/models/
/output/
*.db

# Local Docker / Compose overrides
.env

# Python and Jupyter ignore
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Large dictionary files
/geneformer/dicts/
